@inherits Umbraco.Web.Mvc.UmbracoViewPage


<footer class="page-footer font-small black mt-5">


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Pierre Lidholm</a>
  </div>


</footer>
