@inherits Umbraco.Web.Mvc.UmbracoViewPage

<a class="twitter-timeline" href="https://twitter.com/Stayhard_se?ref_src=twsrc%5Etfw">Tweets by Stayhard_se</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>