@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{


	var homePage = Model.AncestorOrSelf<Home>();
	}

	<nav class="mb-1 navbar navbar-expand-lg navbar-dark black">
		<a class="navbar-brand" href="/">Pierre Lidholm</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
				aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
			<ul class="navbar-nav ml-auto">
				@foreach(var page in homePage.Children)
				{
				<li class="nav-item">
					<a class="nav-link" href="@page.Url">
						@page.Name
					</a>
				</li>
				}


			</ul>
		</div>
	</nav>
