@inherits Umbraco.Web.Macros.PartialViewMacroPage



<a class="twitter-timeline" href="https://twitter.com/stayhard_se?ref_src=twsrc%5Etfw">Tweets by stayhard_se</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>